/*
 * codebeamer swagger API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.intland.swagger.client.api;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;
import com.intland.swagger.client.ApiCallback;
import com.intland.swagger.client.ApiClient;
import com.intland.swagger.client.ApiException;
import com.intland.swagger.client.ApiResponse;
import com.intland.swagger.client.Configuration;
import com.intland.swagger.client.Pair;
import com.intland.swagger.client.model.BackgroundJob;

public class BackgroundJobApi {
    private ApiClient localVarApiClient;

    public BackgroundJobApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BackgroundJobApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getBackgroundJob
     * @param jobId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Job not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Background Job Info </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
     </table>
     * Warning: This is an experimental endpoint that might be changed or removed in future.
     * @see <a href="https://codebeamer.com/cb/wiki/12077512">Retrieve background job information Documentation</a>
     */
    public okhttp3.Call getBackgroundJobCall(Integer jobId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3/job/{jobId}"
            .replaceAll("\\{" + "jobId" + "\\}", localVarApiClient.escapeString(jobId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBackgroundJobValidateBeforeCall(Integer jobId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jobId' is set
        if (jobId == null) {
            throw new ApiException("Missing the required parameter 'jobId' when calling getBackgroundJob(Async)");
        }
        

        okhttp3.Call localVarCall = getBackgroundJobCall(jobId, _callback);
        return localVarCall;

    }

    /**
     * Retrieve background job information
     * 
     * @param jobId  (required)
     * @return BackgroundJob
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Job not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Background Job Info </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
     </table>
     * Warning: This is an experimental endpoint that might be changed or removed in future.
     * @see <a href="https://codebeamer.com/cb/wiki/12077512">Retrieve background job information Documentation</a>
     */
    public BackgroundJob getBackgroundJob(Integer jobId) throws ApiException {
        ApiResponse<BackgroundJob> localVarResp = getBackgroundJobWithHttpInfo(jobId);
        return localVarResp.getData();
    }

    /**
     * Retrieve background job information
     * 
     * @param jobId  (required)
     * @return ApiResponse&lt;BackgroundJob&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Job not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Background Job Info </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
     </table>
     * Warning: This is an experimental endpoint that might be changed or removed in future.
     * @see <a href="https://codebeamer.com/cb/wiki/12077512">Retrieve background job information Documentation</a>
     */
    public ApiResponse<BackgroundJob> getBackgroundJobWithHttpInfo(Integer jobId) throws ApiException {
        okhttp3.Call localVarCall = getBackgroundJobValidateBeforeCall(jobId, null);
        Type localVarReturnType = new TypeToken<BackgroundJob>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Retrieve background job information (asynchronously)
     * 
     * @param jobId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Job not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Background Job Info </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
     </table>
     * Warning: This is an experimental endpoint that might be changed or removed in future.
     * @see <a href="https://codebeamer.com/cb/wiki/12077512">Retrieve background job information Documentation</a>
     */
    public okhttp3.Call getBackgroundJobAsync(Integer jobId, final ApiCallback<BackgroundJob> _callback) throws ApiException {

        okhttp3.Call localVarCall = getBackgroundJobValidateBeforeCall(jobId, _callback);
        Type localVarReturnType = new TypeToken<BackgroundJob>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
