/*
 * codebeamer swagger API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.intland.swagger.client.api;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;
import com.intland.swagger.client.ApiCallback;
import com.intland.swagger.client.ApiClient;
import com.intland.swagger.client.ApiException;
import com.intland.swagger.client.ApiResponse;
import com.intland.swagger.client.Configuration;
import com.intland.swagger.client.Pair;
import com.intland.swagger.client.model.Baseline;
import com.intland.swagger.client.model.CreateBaselineRequest;

public class BaselineApi {
    private ApiClient localVarApiClient;

    public BaselineApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BaselineApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createBaseline
     * @param createBaselineRequest  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Baseline created successfully </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authentication is required or user has no permission </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Project or tracker not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createBaselineCall(CreateBaselineRequest createBaselineRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createBaselineRequest;

        // create path and map variables
        String localVarPath = "/v3/baselines";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createBaselineValidateBeforeCall(CreateBaselineRequest createBaselineRequest, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = createBaselineCall(createBaselineRequest, _callback);
        return localVarCall;

    }

    /**
     * Create a project or tracker baseline
     * 
     * @param createBaselineRequest  (optional)
     * @return Baseline
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Baseline created successfully </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authentication is required or user has no permission </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Project or tracker not found </td><td>  -  </td></tr>
     </table>
     */
    public Baseline createBaseline(CreateBaselineRequest createBaselineRequest) throws ApiException {
        ApiResponse<Baseline> localVarResp = createBaselineWithHttpInfo(createBaselineRequest);
        return localVarResp.getData();
    }

    /**
     * Create a project or tracker baseline
     * 
     * @param createBaselineRequest  (optional)
     * @return ApiResponse&lt;Baseline&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Baseline created successfully </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authentication is required or user has no permission </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Project or tracker not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Baseline> createBaselineWithHttpInfo(CreateBaselineRequest createBaselineRequest) throws ApiException {
        okhttp3.Call localVarCall = createBaselineValidateBeforeCall(createBaselineRequest, null);
        Type localVarReturnType = new TypeToken<Baseline>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create a project or tracker baseline (asynchronously)
     * 
     * @param createBaselineRequest  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Baseline created successfully </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authentication is required or user has no permission </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Project or tracker not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createBaselineAsync(CreateBaselineRequest createBaselineRequest, final ApiCallback<Baseline> _callback) throws ApiException {

        okhttp3.Call localVarCall = createBaselineValidateBeforeCall(createBaselineRequest, _callback);
        Type localVarReturnType = new TypeToken<Baseline>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
