/*
 * codebeamer swagger API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.intland.swagger.client.api;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;
import com.intland.swagger.client.ApiCallback;
import com.intland.swagger.client.ApiClient;
import com.intland.swagger.client.ApiException;
import com.intland.swagger.client.ApiResponse;
import com.intland.swagger.client.Configuration;
import com.intland.swagger.client.Pair;
import com.intland.swagger.client.model.AutoApplyTestStepReuses;
import com.intland.swagger.client.model.TrackerItemReference;

public class TestManagementApi {
    private ApiClient localVarApiClient;

    public TestManagementApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TestManagementApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for autoApplyStepReuses
     * @param autoApplyTestStepReuses  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> The item-references of the modified tracker-items where duplicate Test Steps was found and converted to Reuses </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     * Detecting and automatically converting Test Step duplicates to Step-reuses
     * @see <a href="https://codebeamer.com/cb/wiki/792788#section-Detecting+and+automatically+converting+Test+Step+duplicates+to+Step-reuses">Find duplicate TestSteps in a set of TestCases and converting duplicates to Reuses Documentation</a>
     */
    public okhttp3.Call autoApplyStepReusesCall(AutoApplyTestStepReuses autoApplyTestStepReuses, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = autoApplyTestStepReuses;

        // create path and map variables
        String localVarPath = "/v3/testcases/autoApplyStepReuses";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call autoApplyStepReusesValidateBeforeCall(AutoApplyTestStepReuses autoApplyTestStepReuses, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = autoApplyStepReusesCall(autoApplyTestStepReuses, _callback);
        return localVarCall;

    }

    /**
     * Find duplicate TestSteps in a set of TestCases and converting duplicates to Reuses
     * 
     * @param autoApplyTestStepReuses  (optional)
     * @return List&lt;TrackerItemReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> The item-references of the modified tracker-items where duplicate Test Steps was found and converted to Reuses </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     * Detecting and automatically converting Test Step duplicates to Step-reuses
     * @see <a href="https://codebeamer.com/cb/wiki/792788#section-Detecting+and+automatically+converting+Test+Step+duplicates+to+Step-reuses">Find duplicate TestSteps in a set of TestCases and converting duplicates to Reuses Documentation</a>
     */
    public List<TrackerItemReference> autoApplyStepReuses(AutoApplyTestStepReuses autoApplyTestStepReuses) throws ApiException {
        ApiResponse<List<TrackerItemReference>> localVarResp = autoApplyStepReusesWithHttpInfo(autoApplyTestStepReuses);
        return localVarResp.getData();
    }

    /**
     * Find duplicate TestSteps in a set of TestCases and converting duplicates to Reuses
     * 
     * @param autoApplyTestStepReuses  (optional)
     * @return ApiResponse&lt;List&lt;TrackerItemReference&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> The item-references of the modified tracker-items where duplicate Test Steps was found and converted to Reuses </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     * Detecting and automatically converting Test Step duplicates to Step-reuses
     * @see <a href="https://codebeamer.com/cb/wiki/792788#section-Detecting+and+automatically+converting+Test+Step+duplicates+to+Step-reuses">Find duplicate TestSteps in a set of TestCases and converting duplicates to Reuses Documentation</a>
     */
    public ApiResponse<List<TrackerItemReference>> autoApplyStepReusesWithHttpInfo(AutoApplyTestStepReuses autoApplyTestStepReuses) throws ApiException {
        okhttp3.Call localVarCall = autoApplyStepReusesValidateBeforeCall(autoApplyTestStepReuses, null);
        Type localVarReturnType = new TypeToken<List<TrackerItemReference>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Find duplicate TestSteps in a set of TestCases and converting duplicates to Reuses (asynchronously)
     * 
     * @param autoApplyTestStepReuses  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 403 </td><td> Authentication is required </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> The item-references of the modified tracker-items where duplicate Test Steps was found and converted to Reuses </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     * Detecting and automatically converting Test Step duplicates to Step-reuses
     * @see <a href="https://codebeamer.com/cb/wiki/792788#section-Detecting+and+automatically+converting+Test+Step+duplicates+to+Step-reuses">Find duplicate TestSteps in a set of TestCases and converting duplicates to Reuses Documentation</a>
     */
    public okhttp3.Call autoApplyStepReusesAsync(AutoApplyTestStepReuses autoApplyTestStepReuses, final ApiCallback<List<TrackerItemReference>> _callback) throws ApiException {

        okhttp3.Call localVarCall = autoApplyStepReusesValidateBeforeCall(autoApplyTestStepReuses, _callback);
        Type localVarReturnType = new TypeToken<List<TrackerItemReference>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
