/*
 * codeBeamer swagger API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.intland.swagger.client.api;

import com.intland.swagger.client.ApiCallback;
import com.intland.swagger.client.ApiClient;
import com.intland.swagger.client.ApiException;
import com.intland.swagger.client.ApiResponse;
import com.intland.swagger.client.Configuration;
import com.intland.swagger.client.Pair;
import com.intland.swagger.client.ProgressRequestBody;
import com.intland.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.intland.swagger.client.model.AbstractField;
import com.intland.swagger.client.model.ChoiceOptionReference;
import com.intland.swagger.client.model.FieldReference;
import java.io.File;
import com.intland.swagger.client.model.OutlineItemSearchResult;
import com.intland.swagger.client.model.Tracker;
import com.intland.swagger.client.model.TrackerFieldStatusPermissions;
import com.intland.swagger.client.model.TrackerItemReferenceSearchResult;
import com.intland.swagger.client.model.TrackerType;
import com.intland.swagger.client.model.TrackerTypeReference;
import com.intland.swagger.client.model.WorkflowTransition;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TrackerApi {
    private ApiClient localVarApiClient;

    public TrackerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TrackerApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for deleteTracker
     * @param trackerId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call deleteTrackerCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteTrackerValidateBeforeCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling deleteTracker(Async)");
        }
        

        okhttp3.Call localVarCall = deleteTrackerCall(trackerId, _callback);
        return localVarCall;

    }

    /**
     * Deletes a tracker
     * 
     * @param trackerId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteTracker(Integer trackerId) throws ApiException {
        deleteTrackerWithHttpInfo(trackerId);
    }

    /**
     * Deletes a tracker
     * 
     * @param trackerId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteTrackerWithHttpInfo(Integer trackerId) throws ApiException {
        okhttp3.Call localVarCall = deleteTrackerValidateBeforeCall(trackerId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Deletes a tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call deleteTrackerAsync(Integer trackerId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteTrackerValidateBeforeCall(trackerId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for getChoiceOption
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param optionId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getChoiceOptionCall(Integer trackerId, Integer fieldId, Integer optionId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/fields/{fieldId}/options/{optionId}"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()))
            .replaceAll("\\{" + "fieldId" + "\\}", localVarApiClient.escapeString(fieldId.toString()))
            .replaceAll("\\{" + "optionId" + "\\}", localVarApiClient.escapeString(optionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getChoiceOptionValidateBeforeCall(Integer trackerId, Integer fieldId, Integer optionId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getChoiceOption(Async)");
        }
        
        // verify the required parameter 'fieldId' is set
        if (fieldId == null) {
            throw new ApiException("Missing the required parameter 'fieldId' when calling getChoiceOption(Async)");
        }
        
        // verify the required parameter 'optionId' is set
        if (optionId == null) {
            throw new ApiException("Missing the required parameter 'optionId' when calling getChoiceOption(Async)");
        }
        

        okhttp3.Call localVarCall = getChoiceOptionCall(trackerId, fieldId, optionId, _callback);
        return localVarCall;

    }

    /**
     * Get option of a choice field of tracker
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param optionId  (required)
     * @return ChoiceOptionReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ChoiceOptionReference getChoiceOption(Integer trackerId, Integer fieldId, Integer optionId) throws ApiException {
        ApiResponse<ChoiceOptionReference> localVarResp = getChoiceOptionWithHttpInfo(trackerId, fieldId, optionId);
        return localVarResp.getData();
    }

    /**
     * Get option of a choice field of tracker
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param optionId  (required)
     * @return ApiResponse&lt;ChoiceOptionReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ChoiceOptionReference> getChoiceOptionWithHttpInfo(Integer trackerId, Integer fieldId, Integer optionId) throws ApiException {
        okhttp3.Call localVarCall = getChoiceOptionValidateBeforeCall(trackerId, fieldId, optionId, null);
        Type localVarReturnType = new TypeToken<ChoiceOptionReference>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get option of a choice field of tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param optionId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getChoiceOptionAsync(Integer trackerId, Integer fieldId, Integer optionId, final ApiCallback<ChoiceOptionReference> _callback) throws ApiException {

        okhttp3.Call localVarCall = getChoiceOptionValidateBeforeCall(trackerId, fieldId, optionId, _callback);
        Type localVarReturnType = new TypeToken<ChoiceOptionReference>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getItemsByTracker
     * @param trackerId  (required)
     * @param page Index of the result page starting from 1. (optional, default to 1)
     * @param pageSize Number of items in a result page. Max value: 500 (optional, default to 25)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getItemsByTrackerCall(Integer trackerId, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/items"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (pageSize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pageSize", pageSize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getItemsByTrackerValidateBeforeCall(Integer trackerId, Integer page, Integer pageSize, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getItemsByTracker(Async)");
        }
        

        okhttp3.Call localVarCall = getItemsByTrackerCall(trackerId, page, pageSize, _callback);
        return localVarCall;

    }

    /**
     * Get items in a specific tracker
     * 
     * @param trackerId  (required)
     * @param page Index of the result page starting from 1. (optional, default to 1)
     * @param pageSize Number of items in a result page. Max value: 500 (optional, default to 25)
     * @return TrackerItemReferenceSearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TrackerItemReferenceSearchResult getItemsByTracker(Integer trackerId, Integer page, Integer pageSize) throws ApiException {
        ApiResponse<TrackerItemReferenceSearchResult> localVarResp = getItemsByTrackerWithHttpInfo(trackerId, page, pageSize);
        return localVarResp.getData();
    }

    /**
     * Get items in a specific tracker
     * 
     * @param trackerId  (required)
     * @param page Index of the result page starting from 1. (optional, default to 1)
     * @param pageSize Number of items in a result page. Max value: 500 (optional, default to 25)
     * @return ApiResponse&lt;TrackerItemReferenceSearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TrackerItemReferenceSearchResult> getItemsByTrackerWithHttpInfo(Integer trackerId, Integer page, Integer pageSize) throws ApiException {
        okhttp3.Call localVarCall = getItemsByTrackerValidateBeforeCall(trackerId, page, pageSize, null);
        Type localVarReturnType = new TypeToken<TrackerItemReferenceSearchResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get items in a specific tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param page Index of the result page starting from 1. (optional, default to 1)
     * @param pageSize Number of items in a result page. Max value: 500 (optional, default to 25)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getItemsByTrackerAsync(Integer trackerId, Integer page, Integer pageSize, final ApiCallback<TrackerItemReferenceSearchResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getItemsByTrackerValidateBeforeCall(trackerId, page, pageSize, _callback);
        Type localVarReturnType = new TypeToken<TrackerItemReferenceSearchResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTracker
     * @param trackerId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerValidateBeforeCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getTracker(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerCall(trackerId, _callback);
        return localVarCall;

    }

    /**
     * Get tracker
     * 
     * @param trackerId  (required)
     * @return Tracker
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Tracker getTracker(Integer trackerId) throws ApiException {
        ApiResponse<Tracker> localVarResp = getTrackerWithHttpInfo(trackerId);
        return localVarResp.getData();
    }

    /**
     * Get tracker
     * 
     * @param trackerId  (required)
     * @return ApiResponse&lt;Tracker&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Tracker> getTrackerWithHttpInfo(Integer trackerId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerValidateBeforeCall(trackerId, null);
        Type localVarReturnType = new TypeToken<Tracker>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerAsync(Integer trackerId, final ApiCallback<Tracker> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerValidateBeforeCall(trackerId, _callback);
        Type localVarReturnType = new TypeToken<Tracker>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerField
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerFieldCall(Integer trackerId, Integer fieldId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/fields/{fieldId}"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()))
            .replaceAll("\\{" + "fieldId" + "\\}", localVarApiClient.escapeString(fieldId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerFieldValidateBeforeCall(Integer trackerId, Integer fieldId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getTrackerField(Async)");
        }
        
        // verify the required parameter 'fieldId' is set
        if (fieldId == null) {
            throw new ApiException("Missing the required parameter 'fieldId' when calling getTrackerField(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerFieldCall(trackerId, fieldId, _callback);
        return localVarCall;

    }

    /**
     * Get field of tracker
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @return AbstractField
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AbstractField getTrackerField(Integer trackerId, Integer fieldId) throws ApiException {
        ApiResponse<AbstractField> localVarResp = getTrackerFieldWithHttpInfo(trackerId, fieldId);
        return localVarResp.getData();
    }

    /**
     * Get field of tracker
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @return ApiResponse&lt;AbstractField&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AbstractField> getTrackerFieldWithHttpInfo(Integer trackerId, Integer fieldId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerFieldValidateBeforeCall(trackerId, fieldId, null);
        Type localVarReturnType = new TypeToken<AbstractField>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get field of tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerFieldAsync(Integer trackerId, Integer fieldId, final ApiCallback<AbstractField> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerFieldValidateBeforeCall(trackerId, fieldId, _callback);
        Type localVarReturnType = new TypeToken<AbstractField>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerFieldPermissions
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param statusId  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerFieldPermissionsCall(Integer trackerId, Integer fieldId, Integer statusId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/fields/{fieldId}/permissions"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()))
            .replaceAll("\\{" + "fieldId" + "\\}", localVarApiClient.escapeString(fieldId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (statusId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("statusId", statusId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerFieldPermissionsValidateBeforeCall(Integer trackerId, Integer fieldId, Integer statusId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getTrackerFieldPermissions(Async)");
        }
        
        // verify the required parameter 'fieldId' is set
        if (fieldId == null) {
            throw new ApiException("Missing the required parameter 'fieldId' when calling getTrackerFieldPermissions(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerFieldPermissionsCall(trackerId, fieldId, statusId, _callback);
        return localVarCall;

    }

    /**
     * Get permissions of tracker field
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param statusId  (optional)
     * @return List&lt;TrackerFieldStatusPermissions&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<TrackerFieldStatusPermissions> getTrackerFieldPermissions(Integer trackerId, Integer fieldId, Integer statusId) throws ApiException {
        ApiResponse<List<TrackerFieldStatusPermissions>> localVarResp = getTrackerFieldPermissionsWithHttpInfo(trackerId, fieldId, statusId);
        return localVarResp.getData();
    }

    /**
     * Get permissions of tracker field
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param statusId  (optional)
     * @return ApiResponse&lt;List&lt;TrackerFieldStatusPermissions&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<TrackerFieldStatusPermissions>> getTrackerFieldPermissionsWithHttpInfo(Integer trackerId, Integer fieldId, Integer statusId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerFieldPermissionsValidateBeforeCall(trackerId, fieldId, statusId, null);
        Type localVarReturnType = new TypeToken<List<TrackerFieldStatusPermissions>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get permissions of tracker field (asynchronously)
     * 
     * @param trackerId  (required)
     * @param fieldId  (required)
     * @param statusId  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerFieldPermissionsAsync(Integer trackerId, Integer fieldId, Integer statusId, final ApiCallback<List<TrackerFieldStatusPermissions>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerFieldPermissionsValidateBeforeCall(trackerId, fieldId, statusId, _callback);
        Type localVarReturnType = new TypeToken<List<TrackerFieldStatusPermissions>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerFields
     * @param trackerId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerFieldsCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/fields"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerFieldsValidateBeforeCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getTrackerFields(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerFieldsCall(trackerId, _callback);
        return localVarCall;

    }

    /**
     * Get fields of tracker
     * 
     * @param trackerId  (required)
     * @return List&lt;FieldReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<FieldReference> getTrackerFields(Integer trackerId) throws ApiException {
        ApiResponse<List<FieldReference>> localVarResp = getTrackerFieldsWithHttpInfo(trackerId);
        return localVarResp.getData();
    }

    /**
     * Get fields of tracker
     * 
     * @param trackerId  (required)
     * @return ApiResponse&lt;List&lt;FieldReference&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<FieldReference>> getTrackerFieldsWithHttpInfo(Integer trackerId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerFieldsValidateBeforeCall(trackerId, null);
        Type localVarReturnType = new TypeToken<List<FieldReference>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get fields of tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerFieldsAsync(Integer trackerId, final ApiCallback<List<FieldReference>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerFieldsValidateBeforeCall(trackerId, _callback);
        Type localVarReturnType = new TypeToken<List<FieldReference>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerOutline
     * @param trackerId  (required)
     * @param parentItemId Show only the children of this item. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerOutlineCall(Integer trackerId, Integer parentItemId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/outline"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (parentItemId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("parentItemId", parentItemId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerOutlineValidateBeforeCall(Integer trackerId, Integer parentItemId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getTrackerOutline(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerOutlineCall(trackerId, parentItemId, _callback);
        return localVarCall;

    }

    /**
     * Get outline of a specific tracker
     * 
     * @param trackerId  (required)
     * @param parentItemId Show only the children of this item. (optional)
     * @return OutlineItemSearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OutlineItemSearchResult getTrackerOutline(Integer trackerId, Integer parentItemId) throws ApiException {
        ApiResponse<OutlineItemSearchResult> localVarResp = getTrackerOutlineWithHttpInfo(trackerId, parentItemId);
        return localVarResp.getData();
    }

    /**
     * Get outline of a specific tracker
     * 
     * @param trackerId  (required)
     * @param parentItemId Show only the children of this item. (optional)
     * @return ApiResponse&lt;OutlineItemSearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OutlineItemSearchResult> getTrackerOutlineWithHttpInfo(Integer trackerId, Integer parentItemId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerOutlineValidateBeforeCall(trackerId, parentItemId, null);
        Type localVarReturnType = new TypeToken<OutlineItemSearchResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get outline of a specific tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param parentItemId Show only the children of this item. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerOutlineAsync(Integer trackerId, Integer parentItemId, final ApiCallback<OutlineItemSearchResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerOutlineValidateBeforeCall(trackerId, parentItemId, _callback);
        Type localVarReturnType = new TypeToken<OutlineItemSearchResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerSchema
     * @param trackerId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerSchemaCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/schema"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerSchemaValidateBeforeCall(Integer trackerId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getTrackerSchema(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerSchemaCall(trackerId, _callback);
        return localVarCall;

    }

    /**
     * Get the schema of a tracker
     * 
     * @param trackerId  (required)
     * @return List&lt;AbstractField&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<AbstractField> getTrackerSchema(Integer trackerId) throws ApiException {
        ApiResponse<List<AbstractField>> localVarResp = getTrackerSchemaWithHttpInfo(trackerId);
        return localVarResp.getData();
    }

    /**
     * Get the schema of a tracker
     * 
     * @param trackerId  (required)
     * @return ApiResponse&lt;List&lt;AbstractField&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<AbstractField>> getTrackerSchemaWithHttpInfo(Integer trackerId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerSchemaValidateBeforeCall(trackerId, null);
        Type localVarReturnType = new TypeToken<List<AbstractField>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the schema of a tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerSchemaAsync(Integer trackerId, final ApiCallback<List<AbstractField>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerSchemaValidateBeforeCall(trackerId, _callback);
        Type localVarReturnType = new TypeToken<List<AbstractField>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerTransitions
     * @param trackerId  (required)
     * @param fromStatusId The from status id filter for transitions. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerTransitionsCall(Integer trackerId, Integer fromStatusId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/transitions"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fromStatusId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fromStatusId", fromStatusId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerTransitionsValidateBeforeCall(Integer trackerId, Integer fromStatusId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling getTrackerTransitions(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerTransitionsCall(trackerId, fromStatusId, _callback);
        return localVarCall;

    }

    /**
     * Get all transitions of a specific tracker
     * 
     * @param trackerId  (required)
     * @param fromStatusId The from status id filter for transitions. (optional)
     * @return List&lt;WorkflowTransition&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<WorkflowTransition> getTrackerTransitions(Integer trackerId, Integer fromStatusId) throws ApiException {
        ApiResponse<List<WorkflowTransition>> localVarResp = getTrackerTransitionsWithHttpInfo(trackerId, fromStatusId);
        return localVarResp.getData();
    }

    /**
     * Get all transitions of a specific tracker
     * 
     * @param trackerId  (required)
     * @param fromStatusId The from status id filter for transitions. (optional)
     * @return ApiResponse&lt;List&lt;WorkflowTransition&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<WorkflowTransition>> getTrackerTransitionsWithHttpInfo(Integer trackerId, Integer fromStatusId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerTransitionsValidateBeforeCall(trackerId, fromStatusId, null);
        Type localVarReturnType = new TypeToken<List<WorkflowTransition>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all transitions of a specific tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param fromStatusId The from status id filter for transitions. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerTransitionsAsync(Integer trackerId, Integer fromStatusId, final ApiCallback<List<WorkflowTransition>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerTransitionsValidateBeforeCall(trackerId, fromStatusId, _callback);
        Type localVarReturnType = new TypeToken<List<WorkflowTransition>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerType
     * @param trackerTypeId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerTypeCall(Integer trackerTypeId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/types/{trackerTypeId}"
            .replaceAll("\\{" + "trackerTypeId" + "\\}", localVarApiClient.escapeString(trackerTypeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerTypeValidateBeforeCall(Integer trackerTypeId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerTypeId' is set
        if (trackerTypeId == null) {
            throw new ApiException("Missing the required parameter 'trackerTypeId' when calling getTrackerType(Async)");
        }
        

        okhttp3.Call localVarCall = getTrackerTypeCall(trackerTypeId, _callback);
        return localVarCall;

    }

    /**
     * Get the immutable definition of a tracker type
     * 
     * @param trackerTypeId  (required)
     * @return TrackerType
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TrackerType getTrackerType(Integer trackerTypeId) throws ApiException {
        ApiResponse<TrackerType> localVarResp = getTrackerTypeWithHttpInfo(trackerTypeId);
        return localVarResp.getData();
    }

    /**
     * Get the immutable definition of a tracker type
     * 
     * @param trackerTypeId  (required)
     * @return ApiResponse&lt;TrackerType&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TrackerType> getTrackerTypeWithHttpInfo(Integer trackerTypeId) throws ApiException {
        okhttp3.Call localVarCall = getTrackerTypeValidateBeforeCall(trackerTypeId, null);
        Type localVarReturnType = new TypeToken<TrackerType>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the immutable definition of a tracker type (asynchronously)
     * 
     * @param trackerTypeId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerTypeAsync(Integer trackerTypeId, final ApiCallback<TrackerType> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerTypeValidateBeforeCall(trackerTypeId, _callback);
        Type localVarReturnType = new TypeToken<TrackerType>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getTrackerTypes
     * @param outline Outline is enabled, disabled or any(no filtering will be applied). (optional, default to ANY)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getTrackerTypesCall(String outline, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/types";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (outline != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("outline", outline));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getTrackerTypesValidateBeforeCall(String outline, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getTrackerTypesCall(outline, _callback);
        return localVarCall;

    }

    /**
     * Get the list of tracker types
     * 
     * @param outline Outline is enabled, disabled or any(no filtering will be applied). (optional, default to ANY)
     * @return List&lt;TrackerTypeReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<TrackerTypeReference> getTrackerTypes(String outline) throws ApiException {
        ApiResponse<List<TrackerTypeReference>> localVarResp = getTrackerTypesWithHttpInfo(outline);
        return localVarResp.getData();
    }

    /**
     * Get the list of tracker types
     * 
     * @param outline Outline is enabled, disabled or any(no filtering will be applied). (optional, default to ANY)
     * @return ApiResponse&lt;List&lt;TrackerTypeReference&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<TrackerTypeReference>> getTrackerTypesWithHttpInfo(String outline) throws ApiException {
        okhttp3.Call localVarCall = getTrackerTypesValidateBeforeCall(outline, null);
        Type localVarReturnType = new TypeToken<List<TrackerTypeReference>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the list of tracker types (asynchronously)
     * 
     * @param outline Outline is enabled, disabled or any(no filtering will be applied). (optional, default to ANY)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getTrackerTypesAsync(String outline, final ApiCallback<List<TrackerTypeReference>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getTrackerTypesValidateBeforeCall(outline, _callback);
        Type localVarReturnType = new TypeToken<List<TrackerTypeReference>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for updateTracker
     * @param trackerId  (required)
     * @param tracker  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call updateTrackerCall(Integer trackerId, Tracker tracker, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tracker;

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateTrackerValidateBeforeCall(Integer trackerId, Tracker tracker, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling updateTracker(Async)");
        }
        

        okhttp3.Call localVarCall = updateTrackerCall(trackerId, tracker, _callback);
        return localVarCall;

    }

    /**
     * Updates a specific tracker
     * 
     * @param trackerId  (required)
     * @param tracker  (optional)
     * @return Tracker
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Tracker updateTracker(Integer trackerId, Tracker tracker) throws ApiException {
        ApiResponse<Tracker> localVarResp = updateTrackerWithHttpInfo(trackerId, tracker);
        return localVarResp.getData();
    }

    /**
     * Updates a specific tracker
     * 
     * @param trackerId  (required)
     * @param tracker  (optional)
     * @return ApiResponse&lt;Tracker&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Tracker> updateTrackerWithHttpInfo(Integer trackerId, Tracker tracker) throws ApiException {
        okhttp3.Call localVarCall = updateTrackerValidateBeforeCall(trackerId, tracker, null);
        Type localVarReturnType = new TypeToken<Tracker>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Updates a specific tracker (asynchronously)
     * 
     * @param trackerId  (required)
     * @param tracker  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call updateTrackerAsync(Integer trackerId, Tracker tracker, final ApiCallback<Tracker> _callback) throws ApiException {

        okhttp3.Call localVarCall = updateTrackerValidateBeforeCall(trackerId, tracker, _callback);
        Type localVarReturnType = new TypeToken<Tracker>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for updateTrackerIcon
     * @param trackerId Id of the tracker (required)
     * @param icon  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call updateTrackerIconCall(Integer trackerId, File icon, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v3/trackers/{trackerId}/icon"
            .replaceAll("\\{" + "trackerId" + "\\}", localVarApiClient.escapeString(trackerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (icon != null) {
            localVarFormParams.put("icon", icon);
        }

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateTrackerIconValidateBeforeCall(Integer trackerId, File icon, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'trackerId' is set
        if (trackerId == null) {
            throw new ApiException("Missing the required parameter 'trackerId' when calling updateTrackerIcon(Async)");
        }
        

        okhttp3.Call localVarCall = updateTrackerIconCall(trackerId, icon, _callback);
        return localVarCall;

    }

    /**
     * Upload a tracker icon
     * 
     * @param trackerId Id of the tracker (required)
     * @param icon  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateTrackerIcon(Integer trackerId, File icon) throws ApiException {
        updateTrackerIconWithHttpInfo(trackerId, icon);
    }

    /**
     * Upload a tracker icon
     * 
     * @param trackerId Id of the tracker (required)
     * @param icon  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateTrackerIconWithHttpInfo(Integer trackerId, File icon) throws ApiException {
        okhttp3.Call localVarCall = updateTrackerIconValidateBeforeCall(trackerId, icon, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Upload a tracker icon (asynchronously)
     * 
     * @param trackerId Id of the tracker (required)
     * @param icon  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call updateTrackerIconAsync(Integer trackerId, File icon, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = updateTrackerIconValidateBeforeCall(trackerId, icon, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
