/*
 * codebeamer swagger API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.intland.swagger.client.api;

import java.io.File;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;
import com.intland.swagger.client.ApiCallback;
import com.intland.swagger.client.ApiClient;
import com.intland.swagger.client.ApiException;
import com.intland.swagger.client.ApiResponse;
import com.intland.swagger.client.Configuration;
import com.intland.swagger.client.Pair;
import com.intland.swagger.client.model.Attachment;
import com.intland.swagger.client.model.AttachmentReference;

public class WikisCommentApi {
    private ApiClient localVarApiClient;

    public WikisCommentApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WikisCommentApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for commentOnWiki
     * @param wikiId  (required)
     * @param comment Text of a comment (required)
     * @param commentFormat Format of a comment (optional, default to PlainText)
     * @param attachments Attachments of a comment (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Wiki page not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Comment created successfully </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected error </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call commentOnWikiCall(Integer wikiId, String comment, String commentFormat, File attachments, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3/wikipages/{wikiId}/comments"
            .replaceAll("\\{" + "wikiId" + "\\}", localVarApiClient.escapeString(wikiId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (comment != null) {
            localVarFormParams.put("comment", comment);
        }

        if (commentFormat != null) {
            localVarFormParams.put("commentFormat", commentFormat);
        }

        if (attachments != null) {
            localVarFormParams.put("attachments", attachments);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call commentOnWikiValidateBeforeCall(Integer wikiId, String comment, String commentFormat, File attachments, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'wikiId' is set
        if (wikiId == null) {
            throw new ApiException("Missing the required parameter 'wikiId' when calling commentOnWiki(Async)");
        }
        
        // verify the required parameter 'comment' is set
        if (comment == null) {
            throw new ApiException("Missing the required parameter 'comment' when calling commentOnWiki(Async)");
        }
        

        okhttp3.Call localVarCall = commentOnWikiCall(wikiId, comment, commentFormat, attachments, _callback);
        return localVarCall;

    }

    /**
     * Comment on a wiki page
     * 
     * @param wikiId  (required)
     * @param comment Text of a comment (required)
     * @param commentFormat Format of a comment (optional, default to PlainText)
     * @param attachments Attachments of a comment (optional)
     * @return List&lt;AttachmentReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Wiki page not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Comment created successfully </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected error </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public List<AttachmentReference> commentOnWiki(Integer wikiId, String comment, String commentFormat, File attachments) throws ApiException {
        ApiResponse<List<AttachmentReference>> localVarResp = commentOnWikiWithHttpInfo(wikiId, comment, commentFormat, attachments);
        return localVarResp.getData();
    }

    /**
     * Comment on a wiki page
     * 
     * @param wikiId  (required)
     * @param comment Text of a comment (required)
     * @param commentFormat Format of a comment (optional, default to PlainText)
     * @param attachments Attachments of a comment (optional)
     * @return ApiResponse&lt;List&lt;AttachmentReference&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Wiki page not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Comment created successfully </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected error </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<AttachmentReference>> commentOnWikiWithHttpInfo(Integer wikiId, String comment, String commentFormat, File attachments) throws ApiException {
        okhttp3.Call localVarCall = commentOnWikiValidateBeforeCall(wikiId, comment, commentFormat, attachments, null);
        Type localVarReturnType = new TypeToken<List<AttachmentReference>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Comment on a wiki page (asynchronously)
     * 
     * @param wikiId  (required)
     * @param comment Text of a comment (required)
     * @param commentFormat Format of a comment (optional, default to PlainText)
     * @param attachments Attachments of a comment (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Wiki page not found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Comment created successfully </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unexpected error </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call commentOnWikiAsync(Integer wikiId, String comment, String commentFormat, File attachments, final ApiCallback<List<AttachmentReference>> _callback) throws ApiException {

        okhttp3.Call localVarCall = commentOnWikiValidateBeforeCall(wikiId, comment, commentFormat, attachments, _callback);
        Type localVarReturnType = new TypeToken<List<AttachmentReference>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAttachmentByName
     * @param wikiId  (required)
     * @param fileName  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Attachment of wiki page </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Wiki page / Attachment not found </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAttachmentByNameCall(Integer wikiId, String fileName, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3/wikipages/{wikiId}/attachments"
            .replaceAll("\\{" + "wikiId" + "\\}", localVarApiClient.escapeString(wikiId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fileName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fileName", fileName));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAttachmentByNameValidateBeforeCall(Integer wikiId, String fileName, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'wikiId' is set
        if (wikiId == null) {
            throw new ApiException("Missing the required parameter 'wikiId' when calling getAttachmentByName(Async)");
        }
        
        // verify the required parameter 'fileName' is set
        if (fileName == null) {
            throw new ApiException("Missing the required parameter 'fileName' when calling getAttachmentByName(Async)");
        }
        

        okhttp3.Call localVarCall = getAttachmentByNameCall(wikiId, fileName, _callback);
        return localVarCall;

    }

    /**
     * Get attachment of wiki page by file name
     * 
     * @param wikiId  (required)
     * @param fileName  (required)
     * @return Attachment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Attachment of wiki page </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Wiki page / Attachment not found </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public Attachment getAttachmentByName(Integer wikiId, String fileName) throws ApiException {
        ApiResponse<Attachment> localVarResp = getAttachmentByNameWithHttpInfo(wikiId, fileName);
        return localVarResp.getData();
    }

    /**
     * Get attachment of wiki page by file name
     * 
     * @param wikiId  (required)
     * @param fileName  (required)
     * @return ApiResponse&lt;Attachment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Attachment of wiki page </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Wiki page / Attachment not found </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Attachment> getAttachmentByNameWithHttpInfo(Integer wikiId, String fileName) throws ApiException {
        okhttp3.Call localVarCall = getAttachmentByNameValidateBeforeCall(wikiId, fileName, null);
        Type localVarReturnType = new TypeToken<Attachment>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get attachment of wiki page by file name (asynchronously)
     * 
     * @param wikiId  (required)
     * @param fileName  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Attachment of wiki page </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Wiki page / Attachment not found </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Authorization is required </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Too many requests </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication is required </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAttachmentByNameAsync(Integer wikiId, String fileName, final ApiCallback<Attachment> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAttachmentByNameValidateBeforeCall(wikiId, fileName, _callback);
        Type localVarReturnType = new TypeToken<Attachment>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
